[submodule "integrations/mcp-constraint-monitor"]
	path = integrations/mcp-constraint-monitor
	url = git@github.com:fwornle/mcp-constraint-monitor.git
[submodule "integrations/memory-visualizer"]
	path = integrations/memory-visualizer
	url = git@github.com:fwornle/memory-visualizer.git
[submodule "integrations/mcp-server-semantic-analysis"]
	path = integrations/mcp-server-semantic-analysis
	url = git@github.com:fwornle/mcp-server-semantic-analysis.git
[submodule "integrations/serena"]
	path = integrations/serena
	url = https://github.com/oraios/serena.git
[submodule "integrations/code-graph-rag"]
	path = integrations/code-graph-rag
	url = https://github.com/fwornle/code-graph-rag.git
	branch = semantic-enhancements
